.margintop100{
    margin-top:100px;
}

.margintop60{
    margin-top: 60px;
}

.margintop40{
    margin-top: 40px;
}

.margintop30{
    margin-top: 30px;
}

.margintop20{
    margin-top: 20px;
}



.marginbottom20{
    margin-bottom: 20px;
}

.marginbottom30{
    margin-bottom: 30px;
}

.marginbottom100{
    margin-bottom: 100px;
}

.marginbottom150{
    margin-bottom: 150px;
}

.paddingtop150{
    padding-top:150px;
}

.paddingbottom200{
    padding-bottom:200px;
}

.paddingbottom50{
    padding-bottom:50px;
}

.paddingbottom30{
    padding-bottom:30px;
}

.paddingbottom100{
    padding-bottom:100px;
}

.paddingright200{
    padding-right: 200px;
}